/* universal */
aside,
details,
footer,
header,
nav,
section {
  display: block; }

html {
  overflow-y: auto;
  /*padding-top: 0;*/
  /*margin-top: 0;*/ }

body {
  /*width: 100%;*/
  margin: 0;
  padding: 0; }

section {
  overflow: auto; }

/*textarea {
resize: vertical;
}*/
img {
  /*max-width: 100%;*/
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

ul, li {
  margin: 0;
  padding: 0; }

/* typography */
html {
  font-size: 16px;
  text-align: left; }

body {
  font-size: 62.5%;
  /* 10px */
  font-family: Arial, Helvetica, sans-serif;
  color: #6f290f; }

h1, h2, h3, h4, h5, h6 {
 /* color: ;
font-family: ;*/
  font-weight: normal;
  text-rendering: optimizelegibility;
  margin-top: 0.2em;
  margin-bottom: 0.3em; }

p {
 /* color: ;
font-family: ;*/
  font-size: 1.2em;
  line-height: 1.5em;
  text-rendering: optimizelegibility;
  margin: 0 0 0.5em 0;
  padding: 0 0 0.3em 0; }

h1 {
  font-size: 3em;
  line-height: 2em;
  letter-spacing: -1px;
  margin-top: 0.1em;
  margin-bottom: 0.4em;
  /*text-align: left;*/ }

h2 {
  font-size: 2.4em;
  line-height: 1em;
  letter-spacing: -1px;
  /*text-align: left;*/
  color: #bb9f56;
  /*display: block;*/ }

h3 {
  font-size: 1.8em;
  line-height: 1.6em;
  /*color: ;*/
  margin-top: 0.1em;
  margin-bottom: 0.2em; }

h4,
h5,
h6 {
  font-size: 1.8em;
  line-height: 1.5em; }

ul {
  list-style: square; }

ol {
  list-style: decimal; }

li {
  margin: 0 0 0.1em 0;
  padding: 0 0 0.1em 0;
  /*line-height: 1.3em;*/ }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

small {
  font-size: 80%;
  /*color: ;*/ }

a:link {
  color: #d35120; }
a:visited {
  color: #a42c00; }
a:hover {
  color: black; }
a:active {
  color: black; }

fieldset {
  border-width: 0;
  margin: 0;
  padding: 0; }

/* General */
.clearfixScss, .headerTop, .headerBottom {
  clear: both;
  overflow: hidden; }

.clearfixScss:after, .headerTop:after, .headerBottom:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.container {
  width: 100%;
  position: relative;
  background-color: white; }

.containerAppView {
  background-image: url("images/background.png"); }

.page {
  width: 1000px;
  margin: 0 auto;
  background: white; }

.pageShrink {
  width: 100%;
  max-width: 1000px; }

.accent {
  color: #d35120; }

.secondary {
  color: #837978; }

#appPreView {
  width: auto; }

.appPreViewContainer {
  position: relative;
  font-size: 1.4em;
  text-align: center; }
  .appPreViewContainer .loadingText {
    position: absolute;
    right: 301px;
    top: 46px; }
    .appPreViewContainer .loadingText .progressText {
      margin-top: 5px; }

.headerTop {
  background: #5b3c28;
  color: #f4d57a;
  font-size: 1.2em;
  -webkit-box-shadow: 0 2px 2px 0 #999999;
  -moz-box-shadow: 0 2px 2px 0 #999999;
  box-shadow: 0 2px 2px 0 #999999; }
  .headerTop li {
    line-height: 3em; }
  .headerTop a {
    padding: 0 0.5em;
    float: left; }
    .headerTop a:link {
      color: #f4d57a;
      text-decoration: none; }
    .headerTop a:visited {
      color: #f4d57a; }
    .headerTop a:hover {
      color: #674f08;
      background: white; }
    .headerTop a:active {
      color: black; }

.navTopLeft {
  float: left; }
  .navTopLeft ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    margin-left: 20px; }
    .navTopLeft ul li {
      list-style: none;
      margin: 0;
      margin-right: 2em;
      padding: 0;
      float: left; }
      .navTopLeft ul li:after {
        margin: 0;
        padding: 0;
        margin-left: 2em;
        content: ""; }
      .navTopLeft ul li:last-child {
        margin-right: 0; }
        .navTopLeft ul li:last-child:after {
          content: "";
          margin-left: 0; }
      .navTopLeft ul li.lastChild {
        margin-right: 0; }
        .navTopLeft ul li.lastChild:after {
          content: "";
          margin-left: 0; }

.navTopRight {
  float: right; }
  .navTopRight ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    margin-right: 20px; }
    .navTopRight ul li {
      list-style: none;
      margin: 0;
      margin-right: 1.1em;
      padding: 0;
      float: left; }
      .navTopRight ul li:after {
        margin: 0;
        padding: 0;
        margin-left: 1.1em;
        content: "/"; }
      .navTopRight ul li:last-child {
        margin-right: 0; }
        .navTopRight ul li:last-child:after {
          content: "";
          margin-left: 0; }
      .navTopRight ul li.lastChild {
        margin-right: 0; }
        .navTopRight ul li.lastChild:after {
          content: "";
          margin-left: 0; }

.headerBottom {
  padding: 15px;
  position: relative; }
  .headerBottom p, .headerBottom h6 {
    line-height: 1.1em;
    margin-bottom: 0.2em; }
  .headerBottom h6 {
    font-weight: bold; }
  .headerBottom .marginTop {
    margin-top: 20px; }
  .headerBottom a:link {
    text-decoration: none; }

.headerMotto {
  position: absolute;
  bottom: 8px;
  right: 15px;
  font-style: italic; }

.headerBoxLeft {
  float: left;
  margin-right: 50px; }

.headerBoxCenter {
  float: left;
  width: 250px;
  margin-right: 30px;
  margin-top: 24px; }

.headerBoxRight {
  width: 180px;
  float: right;
  text-align: right;
  margin-top: 24px; }
  .headerBoxRight p {
    margin-bottom: 0.6em; }

.navMenu {
  margin: 0;
  padding: 0;
  list-style: none; }
  .navMenu li {
    list-style: none;
    margin: 0;
    margin-right: 3em;
    padding: 0;
    float: left; }
    .navMenu li:last-child {
      margin-right: 0; }
	
/**Header**/
/**Header - Middle Section**/	  
#searchBarInput{
	background:url(images/Searchbar_inputImg.gif) no-repeat right;
	width:190px;
	border-radius:4px;
	border-style:ridge;
	border-color:#a3a3a2;
}

#searchBarButton{
background-color:#9d806e;
border-style:none;
width:30px;
color:#f1efee;
border-radius:4px;
}

/**Header - Bottom Section**/
#headerNavBar{
	border:solid 1px #e9e1cd;
}

.HeaderNavBarLink{
	color:#763f27;
}
