/* universal */
aside,
details,
footer,
header,
nav,
section {
  display: block; }
  



body {
  /*width: 100%;*/
  margin: 0;
  padding: 0; }

section {
  overflow: auto; }

/*textarea {
resize: vertical;
}*/
img {
  /*max-width: 100%;*/
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

ul, li {
  margin: 0;
  padding: 0; }

/* typography */
html {
  font-size: 16px;
  text-align: left; }

body {
  font-size: 62.5%;
  /* 10px */
  font-family: Arial, Helvetica, sans-serif;
  color: #6f290f; }

h1, h2, h3, h4, h5, h6 {
 /* color: ;
font-family: ;*/
  font-weight: normal;
  text-rendering: optimizelegibility;
  margin-top: 0.2em;
  margin-bottom: 0.3em; }

p {
 /* color: ;
font-family: ;*/
  font-size: 1.2em;
  line-height: 1.5em;
  text-rendering: optimizelegibility;
  margin: 0 0 0.5em 0;
  padding: 0 0 0.3em 0; }

h1 {
  font-size: 3em;
  line-height: 2em;
  letter-spacing: -1px;
  margin-top: 0.1em;
  margin-bottom: 0.4em;
  /*text-align: left;*/ }

h2 {
  font-size: 2.4em;
  line-height: 1em;
  letter-spacing: -1px;
  /*text-align: left;*/
  color: #bb9f56;
  /*display: block;*/ }

h3 {
  font-size: 1.8em;
  line-height: 1.6em;
  /*color: ;*/
  margin-top: 0.1em;
  margin-bottom: 0.2em; }

h4,
h5,
h6 {
  font-size: 1.8em;
  line-height: 1.5em; }

ul {
  list-style: square; }

ol {
  list-style: decimal; }

li {
  margin: 0 0 0.1em 0;
  padding: 0 0 0.1em 0;
  /*line-height: 1.3em;*/ }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

small {
  font-size: 80%;
  /*color: ;*/ }

a:link {
  color: #d35120; }
a:visited {
  color: #a42c00; }
a:hover {
  color: black; }
a:active {
  color: black; }

fieldset {
  border-width: 0;
  margin: 0;
  padding: 0; }

/* General */
.noTextDec{
	text-decoration:none;
}
.clearfixScss, .headerTop, .headerBottom {
  clear: both;
  overflow: hidden; }

.clearfixScss:after, .headerTop:after, .headerBottom:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.container {
  width: 100%;
  position: relative;
  background-color: white; }

.containerAppView {
  background-image: url("images/background.png");
  overflow:hidden; }

.page {
  width: 1000px;
  margin: 0 auto;
  background: white; }

.pageShrink {
  width: 100%;
  max-width: 1000px; }

.accent {
  color: #d35120; }

.secondary {
  color: #837978; }

#appPreView {
  width: auto; }

.appPreViewContainer {
  position: relative;
  font-size: 1.4em;
  text-align: center; }
  .appPreViewContainer .loadingText {
    position: absolute;
    right: 301px;
    top: 46px; }
    .appPreViewContainer .loadingText .progressText {
      margin-top: 5px; }

.headerTop {
  background: #5b3c28;
  color: #f4d57a;
  font-size: 1.2em;
  -webkit-box-shadow: 0 2px 2px 0 #999999;
  -moz-box-shadow: 0 2px 2px 0 #999999;
  box-shadow: 0 2px 2px 0 #999999; }
  .headerTop li {
    line-height: 3em; }
  .headerTop a {
    padding: 0 0.5em;
    float: left; }
    .headerTop a:link {
      color: #f4d57a;
      text-decoration: none; }
    .headerTop a:visited {
      color: #f4d57a; }
    .headerTop a:hover {
      color: #674f08;
      background: white; }
    .headerTop a:active {
      color: black; }

.navTopLeft {
  float: left; }
  .navTopLeft ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    margin-left: 20px; }
    .navTopLeft ul li {
      list-style: none;
      margin: 0;
      margin-right: 2em;
      padding: 0;
      float: left; }
      .navTopLeft ul li:after {
        margin: 0;
        padding: 0;
        margin-left: 2em;
        content: ""; }
      .navTopLeft ul li:last-child {
        margin-right: 0; }
        .navTopLeft ul li:last-child:after {
          content: "";
          margin-left: 0; }
      .navTopLeft ul li.lastChild {
        margin-right: 0; }
        .navTopLeft ul li.lastChild:after {
          content: "";
          margin-left: 0; }

.navTopRight {
  float: right; }
  .navTopRight ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    margin-right: 20px; }
    .navTopRight ul li {
      list-style: none;
      margin: 0;
      margin-right: 1.1em;
      padding: 0;
      float: left; }
      .navTopRight ul li:after {
        margin: 0;
        padding: 0;
        margin-left: 1.1em;
        content: "/"; }
      .navTopRight ul li:last-child {
        margin-right: 0; }
        .navTopRight ul li:last-child:after {
          content: "";
          margin-left: 0; }
      .navTopRight ul li.lastChild {
        margin-right: 0; }
        .navTopRight ul li.lastChild:after {
          content: "";
          margin-left: 0; }

.headerBottom {
  padding: 15px;
  position: relative; }
  .headerBottom p, .headerBottom h6 {
    line-height: 1.1em;
    margin-bottom: 0.2em; }
  .headerBottom h6 {
    font-weight: bold; }
  .headerBottom .marginTop {
    margin-top: 20px; }
  .headerBottom a:link {
    text-decoration: none; }

.headerMotto {
  position: absolute;
  bottom: 8px;
  right: 15px;
  font-style: italic; }

.headerBoxLeft {
  float: left;
  margin-right: 50px; 
  padding-top: 15px;
  }

.headerBoxCenter {
  float: left;
  width: 250px;
  margin-right: 30px;
  margin-top: 24px; }

.headerBoxRight {
  width: 180px;
  float: right;
  text-align: right;
  margin-top: 24px; }
  .headerBoxRight p {
    margin-bottom: 0.6em; }
.headerBoxRight a{
	color:#6F290F;
	font-size:16px;
	font-weight:500;
}
.headerBoxRight a:hover{
	color:black;
}

.navMenu {
  margin: 0;
  padding: 0;
  list-style: none;
  float:left;}
  .navMenu li {
    list-style: none;
    margin: 0;
    margin-right: 3em;
    padding: 0;
	float:left;}
    .navMenu li:last-child {
      margin-right: 0; }
	  
.lineItemProdlist li{
	border:none;
}
/**************************************************************************************************************************
/**Ratings Icon Images**/
.reviewSprite{
	background-image:url(images/chess_rating_imgs.png);
}
/**Widget Controls**/ 
/**mp Controls**/
/**.mpControls2{
	background-image:none;
	background-color:#5b3c29;
	color:#f7d47a;
	font-family: 'Neuton', serif;
	font-size:16px;
}**/

/********************************************************************************************************************************/	
/**Header**/
/**Header - Middle Section**/

.headerShowroom{
	font-size:18px;
	line-height:40px;
}
.headerImage{
	height:90px;
	width:200px;
}
#searchBarInput{
	background:url(images/Searchbar_inputImg.gif) no-repeat right;
	width:190px;
	border-radius:4px;
	border-style:ridge;
	border-color:#a3a3a2;
}

#searchBarButton{
background: rgb(164,134,114); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(164,134,114,1) 0%, rgba(119,80,50,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(164,134,114,1)), color-stop(100%,rgba(119,80,50,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(164,134,114,1) 0%,rgba(119,80,50,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(164,134,114,1) 0%,rgba(119,80,50,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(164,134,114,1) 0%,rgba(119,80,50,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(164,134,114,1) 0%,rgba(119,80,50,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a48672', endColorstr='#775032',GradientType=0 ); /* IE6-9 */
border-style:none;
color:#f1efee;
border-radius:4px;
}

/**Header - Bottom Section**/
.headerNavBar{
	border-top:solid 1px #e9e1cd;
	border-bottom:solid 1px #e9e1cd;
	width:100%;
	height:38px;
	margin:0px;
	background: rgb(252,251,248); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,251,248,1) 46%, rgba(233,224,201,1) 95%, rgba(221,209,178,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(46%,rgba(252,251,248,1)), color-stop(95%,rgba(233,224,201,1)), color-stop(100%,rgba(221,209,178,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,251,248,1) 46%,rgba(233,224,201,1) 95%,rgba(221,209,178,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,251,248,1) 46%,rgba(233,224,201,1) 95%,rgba(221,209,178,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,251,248,1) 46%,rgba(233,224,201,1) 95%,rgba(221,209,178,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(252,251,248,1) 46%,rgba(233,224,201,1) 95%,rgba(221,209,178,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfbf8', endColorstr='#ddd1b2',GradientType=0 ); /* IE6-9 */

}
.headerNavUlBar{
	width:100%;
	margin-left:45px;
	margin-right:25px;
	margin-top:15px;
	line-height:0px;
}

.HeaderNavBarLink{
	color:#763f27;
	font-size:16px;
	text-decoration:none;
	font-weight:600;
	font-family: 'Neuton', serif;
	line-height:0px;
	margin-left:px;
	margin-right:15px;
	float:left;
}
.HeaderNavBarLink a{
	color:#763f27;
}
.HeaderNavBarLink a:visited{
	color:#763f27;
}
.HeaderNavBarLink a:hover{
	color:#763f27;
}
.HeaderNavBarLink a:link{
	color:#763f27;
}

.announceBar{
	width:1000px;
	height:60px;
	float:left;
	border-top:double 3px #bb9f57;
	border-bottom:double 3px white;
	background: rgb(188,160,88); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(188,160,88,1) 0%, rgba(210,185,122,1) 38%, rgba(223,201,143,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(188,160,88,1)), color-stop(38%,rgba(210,185,122,1)), color-stop(100%,rgba(223,201,143,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(188,160,88,1) 0%,rgba(210,185,122,1) 38%,rgba(223,201,143,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(188,160,88,1) 0%,rgba(210,185,122,1) 38%,rgba(223,201,143,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(188,160,88,1) 0%,rgba(210,185,122,1) 38%,rgba(223,201,143,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(188,160,88,1) 0%,rgba(210,185,122,1) 38%,rgba(223,201,143,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bca058', endColorstr='#dfc98f',GradientType=0 ); /* IE6-9 */
	text-align:center;
	line-height:10px;
}

announceBar h2{
}

/**Dropdown navigation bar**/
.dropdown {
	overflow: hidden;
	z-index:1;
	position:absolute;
}
.headerDropdown{
	height: 0px;
	width: 175px;
	top: 15px;
	background: rgb(252,251,248); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,251,248,1) 46%, rgba(233,224,201,1) 95%, rgba(221,209,178,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(46%,rgba(252,251,248,1)), color-stop(95%,rgba(233,224,201,1)), color-stop(100%,rgba(221,209,178,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,251,248,1) 46%,rgba(233,224,201,1) 95%,rgba(221,209,178,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,251,248,1) 46%,rgba(233,224,201,1) 95%,rgba(221,209,178,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,251,248,1) 46%,rgba(233,224,201,1) 95%,rgba(221,209,178,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(252,251,248,1) 46%,rgba(233,224,201,1) 95%,rgba(221,209,178,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfbf8', endColorstr='#ddd1b2',GradientType=0 ); /* IE6-9 */		top: 20px;
	float:left;
}
.headerDropdownLink{
	font-size:14px;
	margin-top:10px;
	margin-left:4px;
	height:10px
}
.headerDropdownLink a{
	font-family: 'Neuton', serif;
	text-decoration:underline;
	color:#763f27;
}
.headerDropdownLink a:hover{
	color:black;
}

.navBarPos{
	position:relative;
	margin-left:30px;
	margin-right:20px;
	float:left;
	height:20px;
}

.navBarPos a{
	color:#763f27;
}
.navBarPos a:hover{
	color:#763f27;
}
.navBarPos a:visited{
	color:#763f27;
}
	
.dropdown.leftAlign {
		left: 0px;
}
	
.dropdown.rightAlign {
		right: 0px;
}
.clear {
		clear: both;
}


/********************************************************************************************************************************/
/**Homepage**/
/**Feature Image**/

.homepageBannerImg{
	height:250px;
	clear:both;
	width:1000px;
}
#featureImg{
	height:250px;
	float:left;
	clear:both;
	position:relative;
	z-index:0;
	width:1000px;
}
#nav{
	float:right;
	width:100%;
	clear:both;
	position:relative;
	bottom:-5px;
	left: 865px;
	z-index:1;
}
#nav a{
	color:#ffffff;
	background: rgb(226,219,190); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(226,219,190,1) 0%, rgba(203,190,160,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,219,190,1)), color-stop(100%,rgba(203,190,160,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(226,219,190,1) 0%,rgba(203,190,160,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(226,219,190,1) 0%,rgba(203,190,160,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(226,219,190,1) 0%,rgba(203,190,160,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(226,219,190,1) 0%,rgba(203,190,160,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2dbbe', endColorstr='#cbbea0',GradientType=0 ); /* IE6-9 */
	font-size:12px;
	border:thin solid white;
	text-decoration:none;
	padding-left:4px;
	padding-right:4px;
	padding-top:1px;
	padding-bottom:1px;
	margin:2px;
}

#nav a:hover{
	background: rgb(133,104,65); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(133,104,65,1) 0%, rgba(158,124,78,1) 58%, rgba(135,106,66,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(133,104,65,1)), color-stop(58%,rgba(158,124,78,1)), color-stop(100%,rgba(135,106,66,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(133,104,65,1) 0%,rgba(158,124,78,1) 58%,rgba(135,106,66,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(133,104,65,1) 0%,rgba(158,124,78,1) 58%,rgba(135,106,66,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(133,104,65,1) 0%,rgba(158,124,78,1) 58%,rgba(135,106,66,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(133,104,65,1) 0%,rgba(158,124,78,1) 58%,rgba(135,106,66,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#856841', endColorstr='#876a42',GradientType=0 ); /* IE6-9 */
}
#nav a.activeSlide{
	background: rgb(133,104,65); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(133,104,65,1) 0%, rgba(158,124,78,1) 58%, rgba(135,106,66,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(133,104,65,1)), color-stop(58%,rgba(158,124,78,1)), color-stop(100%,rgba(135,106,66,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(133,104,65,1) 0%,rgba(158,124,78,1) 58%,rgba(135,106,66,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(133,104,65,1) 0%,rgba(158,124,78,1) 58%,rgba(135,106,66,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(133,104,65,1) 0%,rgba(158,124,78,1) 58%,rgba(135,106,66,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(133,104,65,1) 0%,rgba(158,124,78,1) 58%,rgba(135,106,66,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#856841', endColorstr='#876a42',GradientType=0 ); /* IE6-9 */
}

/**Homepage Product Categories**/
.homepageProductCatHeader{
	margin-left:10px;
	clear:both;
	font-family: 'Neuton', serif;
	font-weight:500;
}
.homepageChessSetSec{
}

.categoryListTemplateClassHP{
	height:219px;
	width:330px;
	margin-left:2px;
	margin-right:2px;
}
.categoryListTemplateHP{
	margin:2px;
}
/**Carousel Class files**/
/**carousel Cat1 Files**/
.homepageCat1{	
}
.homepageCat1 li{
	font-size: 30px;
    color: #666;
    text-align: center;
    width:310px;
    height: 250px;
    padding: 0;
    margin: 6px;
    display: block;
    float: left;
	border:solid 1px;
	border-color:#d6d4ce;
}
.homepageCat1 div.homepageCatTitle{
	background: rgb(147,116,73); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(147,116,73,1) 0%, rgba(158,124,78,1) 50%, rgba(135,106,66,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(147,116,73,1)), color-stop(50%,rgba(158,124,78,1)), color-stop(100%,rgba(135,106,66,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#937449', endColorstr='#876a42',GradientType=0 ); /* IE6-9 */
	height:35px;
	width:310px;
	text-align:center;
	color:#ffffff;
	font-size:16px;
	line-height:32px;
	padding-top:1px;
	margin-top:2px;
}
.homepageCat1 div.homepageCatDesc{
	width:310px;
	height:32px;
	font-size:12px;
	background-color:white;
	border:none;
	color: #6d290e;
	text-align:left;
}
.homepageCat1 img{
	width:310px; 
	height:219px;
}
.carouselCont1{
	position:relative;
	height:300px;
	width:1000px;
	margin-left:10px;
}

.carouselCont1 div.caroufredsel_wrapper{
	float:left;
	clear:both;
	width:1000px;
	height:250px;
	margin-right:10px;
}
#caroPrev1{
	position:absolute;
	bottom:130px;
	left:-35px;
	z-index:1;
}
#caroNext1{
	position:absolute;
	bottom:130px;
	right:-15px;
	z-index:1;
}
.clearfix {
    float:none;
    clear:both;
}
/**Carousel Cat 2 Files**/
.homepageCat2{	
}
.homepageCat2 li{
	font-size: 30px;
    color: #666;
    text-align: center;
    width:310px;
    height: 250px;
    padding: 0;
    margin: 6px;
    display: block;
    float: left;
	border:solid 1px;
	border-color:#d6d4ce;
}
.homepageCat2 div.homepageCatTitle{
	background: rgb(147,116,73); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(147,116,73,1) 0%, rgba(158,124,78,1) 50%, rgba(135,106,66,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(147,116,73,1)), color-stop(50%,rgba(158,124,78,1)), color-stop(100%,rgba(135,106,66,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#937449', endColorstr='#876a42',GradientType=0 ); /* IE6-9 */
	height:35px;
	width:310px;
	text-align:center;
	color:#ffffff;
	font-size:16px;
	line-height:32px;
	padding-top:1px;
	margin-top:2px;
}
.homepageCat2 div.homepageCatDesc{
	width:310px;
	height:32px;
	font-size:12px;
	background-color:white;
	border:none;
	color: #6d290e;
	text-align:left;
}
.homepageCat2 img{
	width:310px; 
	height:219px;
}
.carouselCont2{
	position:relative;
	height:300px;
	width:1000px;
	margin-left:10px;
}

.carouselCont2 div.caroufredsel_wrapper{
	float:left;
	clear:both;
	width:1000px;
	height:250px;
	margin-right:10px;
}
#caroPrev2{
	position:absolute;
	bottom:130px;
	left:-35px;
	z-index:1;
}
#caroNext2{
	position:absolute;
	bottom:130px;
	right:-15px;
	z-index:1;
}
/**Carousel Cat 3 Files**/
.homepageCat3{	
}
.homepageCat3 li{
	font-size: 30px;
    color: #666;
    text-align: center;
    width:310px;
    height: 250px;
    padding: 0;
    margin: 6px;
    display: block;
    float: left;
	border:solid 1px;
	border-color:#d6d4ce;
}
.homepageCat3 div.homepageCatTitle{
	background: rgb(147,116,73); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(147,116,73,1) 0%, rgba(158,124,78,1) 50%, rgba(135,106,66,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(147,116,73,1)), color-stop(50%,rgba(158,124,78,1)), color-stop(100%,rgba(135,106,66,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#937449', endColorstr='#876a42',GradientType=0 ); /* IE6-9 */
	height:35px;
	width:310px;
	text-align:center;
	color:#ffffff;
	font-size:16px;
	line-height:32px;
	padding-top:1px;
	margin-top:2px;
}
.homepageCat3 div.homepageCatDesc{
	width:310px;
	height:32px;
	font-size:12px;
	background-color:white;
	border:none;
	color: #6d290e;
	text-align:left;
}
.homepageCat3 img{
	width:310px; 
	height:219px;
}
.carouselCont3{
	position:relative;
	height:300px;
	width:1000px;
	margin-left:10px;
}

.carouselCont3 div.caroufredsel_wrapper{
	float:left;
	clear:both;
	width:1000px;
	height:250px;
	margin-right:10px;
}
#caroPrev3{
	position:absolute;
	bottom:130px;
	left:-35px;
	z-index:1;
}
#caroNext3{
	position:absolute;
	bottom:130px;
	right:-15px;
	z-index:1;
}
/**Carousel Cat 4 Files**/
.homepageCat4{	
}
.homepageCat4 li{
	font-size: 30px;
    color: #666;
    text-align: center;
    width:310px;
    height: 250px;
    padding: 0;
    margin: 6px;
    display: block;
    float: left;
	border:solid 1px;
	border-color:#d6d4ce;
}
.homepageCat4 div.homepageCatTitle{
	background: rgb(147,116,73); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(147,116,73,1) 0%, rgba(158,124,78,1) 50%, rgba(135,106,66,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(147,116,73,1)), color-stop(50%,rgba(158,124,78,1)), color-stop(100%,rgba(135,106,66,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#937449', endColorstr='#876a42',GradientType=0 ); /* IE6-9 */
	height:35px;
	width:310px;
	text-align:center;
	color:#ffffff;
	font-size:16px;
	line-height:32px;
	padding-top:1px;
	margin-top:2px;
}
.homepageCat4 div.homepageCatDesc{
	width:310px;
	height:32px;
	font-size:12px;
	background-color:white;
	border:none;
	color: #6d290e;
	text-align:left;
}
.homepageCat4 img{
	width:310px; 
	height:219px;
}
.carouselCont4{
	position:relative;
	height:300px;
	width:1000px;
	margin-left:10px;
}

.carouselCont4 div.caroufredsel_wrapper{
	float:left;
	clear:both;
	width:1000px;
	height:250px;
	margin-right:10px;
}
#caroPrev4{
	position:absolute;
	bottom:130px;
	left:-35px;
	z-index:1;
}
#caroNext4{
	position:absolute;
	bottom:130px;
	right:-15px;
	z-index:1;
}

/**Homepage Clubs Section**/
/** 10% off club**/
.homepage10OffClub{
	height:135px;
	width:450px;
	color:#ffffff;
	float:left;
	margin-left:25px;
	margin-bottom:35px;
}
.homepage10OffClub img{
	float:left;
}
.homepage10OffClub h3{
	font-size:36px;
	margin-left:20px;
	float:left;
	font-family: 'Neuton', serif;
}
.homepage10OffClub p{
	float:left;
	font-size:14px;
	margin-left:14px;
	margin-bottom:5px;
}
.homepage10OffClub a{
	color:#ffffff;
}
/**Collectors Club**/
.homepageCollectClub{
	height:135px;
	width:450px;
	color:#ffffff;
	float:left;
	margin-left:33px;
}
.homepageCollectClub img{
	float:left;
}
.homepageCollectClub h3{
	font-family: 'Neuton', serif;
	font-size:34px;
	float:left;
	margin-left:50px;
	line-height:15px;
	
}
.homepageCollectClub h4{
	font-family: 'Neuton', serif;
	float:left;
	margin-left:73px;
	margin-top:5px;
	font-size:22px;
	
}
.homepageCollectClub p{
	float:left;
	margin-left:35px;
	font-size:14px;
	text-align:center;
	line-height:20px;
	margin-top:10px;
}
.homepageCollectClub a{
	color:#ffffff;
}

/********************************************************************************************************************************/
/**Product Page**/
/**Product Description Section**/
.prodTempName{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:600;
	line-height:120%;	
}
.prodTempReview{
}
.prodTempReview a{
	margin:15px;
	color:#da7151;
	font-size:12px;
}
.prodTempDesc{
	color:#421908;
	margin-right:15px;
	font-size:10px;
}

/**Product Price Section**/
.priceContainer{
}
.priceContainer h5{
	font-size:18px;
	color:#421908;
	margin-top:0px;
	margin-bottom:4px;
	line-height:inherit;
}
.priceContainer h4{
	color:#d4511f;
	font-size:20px;
	font-size:18px;
	margin-top:0px;
	margin-bottom:4px;
	line-height:inherit;
}
.priceContainer span{
	font-size:18px;
	margin-top:0px;
	margin-bottom:0px;
	line-height:inherit;
}
.shipLatency{
	font-size:18px;
	line-height:inherit;
	margin-bottom:4px;
	
}
.prodTempDescH5Color{
	color:#421908;
	margin-top:4px;
	margin-bottom:4px;
	font-size:18px;
	line-height:inherit;
}
.onSale{
}
.basePrice{
	display:inline;
}
.PriceTag{
	display:none;
}

/**Add to Cart Form**/
.addToCartButt{
	background-image:url(images/add-to-cart-button.jpg);
	background-repeat:no-repeat;
	color:#e5dfd0;
	width:140px;
	height:50px;
	font-size:16px;
	border-radius:4px;
}
/**Add to cart side links**/
.addToCartSideLinkCont{
	width:400px;
	height:70px;
	float:left;
	padding-top:50px;
	padding-left:10px;
}
.wishListLink{
	font-size:16px;
	color:#d4511f;
	text-decoration:none;
}
.referFriendLink{
	color:#d4511f;
	font-size:10px;
}

/**Product Template Tabs Container**/
/** Tabs border spacer**/
.prodTempTabBordSpace{
	height:20px;
	width:100%;
	border:solid 1px;
	border-color:#d6d4ce;
}
/**Tabs Container**/
.prodTempTabCont{
	background-image:none;  
	background-color:white;
	border:none;
	border-radius:0px;
}
.prodTempTabCont li.prodTempTab{
	background-image:none;
	background: rgb(239,235,226); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(239,235,226,1) 56%, rgba(196,189,169,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(56%,rgba(239,235,226,1)), color-stop(100%,rgba(196,189,169,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(239,235,226,1) 56%,rgba(196,189,169,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(239,235,226,1) 56%,rgba(196,189,169,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(239,235,226,1) 56%,rgba(196,189,169,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(239,235,226,1) 56%,rgba(196,189,169,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efebe2', endColorstr='#c4bda9',GradientType=0 ); /* IE6-9 */

}
.prodTempTabCont a.prodTempTab{
	color:#561d09;
}
.tabContent p{
	color:#561d09;
	font-size:20px;
	font-family: 'Neuton', serif;
}

/**You might also like section**/
.prodtempYouMightLikeProdName{
	font-size:10px;
	color:#d4511f;
	text-decoration:underline;
}
.prodlistRelatedContainer{
	clear:both;
}
.youMIghtLikeUL{
	background-color:#e5dfd0;
	clear:both;
	padding-left:50px;
}
.productList li.catListTempCatPage2{
	width:200px;
	height:165px;
	background-color:#e5dfd0;
	margin-left:10px;
	margin-top:15px;
}
.productList li.catListTempCatPage2 img{
	margin-left:10px;
}
.productList li.catListTempCatPage2 h5{
	font-size:12px;
	text-align:center;
	color:#d4511f;
	text-decoration:underline;
}
.productList li.catListTempCatPage2 h6{
	font-size:12px;
	text-align:center;
	color:#561d09;
}
/**Accessories section**/
.lineItemProdlist li{
	width:200px !important;
	height:165px;
}
.lineItemProdlist li.catListTempCatPage2 img{
	margin-left:10px;
}
.lineItemProdlist li.catListTempCatPage2 h5{
	font-size:12px;
	text-align:center;
	color:#d4511f;
	text-decoration:underline;
}
.lineItemProdlist li.catListTempCatPage2 h6{
	font-size:12px;
	text-align:center;
	color:#561d09;
}
/**Reviews Section**/
#prodViewerReviews{
	text-align:left;
	padding-right:15px;
	padding-left:10px;
}
/********************************************************************************************************************************/
/**Category Template1**/
/**Category template header**/
/**Selection match section**/

.catTempHeader{
	width:800px;
	height:50px;
	font-family: 'Neuton', serif;
}
.catTempHeader h3{
	font-weight:600;
	font-size:20px;
}
.catTempHeader h4{
	line-height:30px;
	color:#9d7c4e;
	font-size:18px;
	margin-left:3px;
}
.catTempHeader span{
	color:#d4511f;
}
.catTempHeader h5{
	margin-left:15px;
	line-height:30px;
}

/**Browse bar section**/
.catBrowseSidebar{
	width:200px;
	background-color:#402514;
	float:left;
	border-radius:5px;
	padding-top:15px;
	padding-bottom:15px;
}
.catBrowseSidebar a{
	color:#ffffff;
	font-size:16px;
	font-family: 'Neuton', serif;
	text-decoration:none;
}
.browseContPos{
	margin-top:5px;
	margin-bottom:5px;
	margin-left:5px;
}
.browseDropdown{
	width: 175px;
	top: -1px;
	background:#402514;
	left:100px;
	border-radius:3px;
}
.browseDropdownLink{
	font-size:14px;
	margin-top:10px;
	margin-left:4px;
	height:10px;
	line-height:0px;
}
.browseDropdownLink a{
	font-family: 'Neuton', serif;
	text-decoration:underline;
	color:#763f27;
}

/* Layered Search */

label.break	{display:block; margin-bottom:2px;}
.layeredSearch	{color:#ffffff;}
.layeredSearch legend	{font-size:1.0em; font-weight:bold;}
.layeredSearch fieldset	{margin-bottom:12px;}
/**Category template body**/
#catTempCont{
	width:760px;
	height:100%;
	float:left;
	padding-left:20px;
	padding-right:20px;
}


/**Category list section**/
.catPageProdList li {
	width:350px;
	font-family: 'Neuton', serif;
	font-size:20px;	
	height:325px;
}
.catListTempCatPage{
	width:400px;
	float:left;
}
.catListTempCatPage h5{
	font-size:16px;
}
.catListTempCatPage h6{
	font-size:16px;
}
.catListTempCatPage a{
	font-size:14px;
	color:#d4511f;
}

/**categoryListTemplate**/
.categoryList  li.categoryListTemplate{
	width:355px;
	height:255px;
	float:left;
	
}
.catSec{
}
div .thumbContainerCat{
	float:left;
	clear:both;
}
.catThumb2{
	float:left;
	clear:both;
}
.catName2{
float:left;
font-size:20px;
font-family: 'Neuton', serif;
font-weight:500;
color:#561d09;
text-align:center;
width:100%;

/**background: rgb(147,116,73); /* Old browsers */
/**background: -moz-linear-gradient(top,  rgba(147,116,73,1) 0%, rgba(158,124,78,1) 50%, rgba(135,106,66,1) 100%); /* FF3.6+ */
/**background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(147,116,73,1)), color-stop(50%,rgba(158,124,78,1)), color-stop(100%,rgba(135,106,66,1))); /* Chrome,Safari4+ */
/**background: -webkit-linear-gradient(top,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* Chrome10+,Safari5.1+ */
/**background: -o-linear-gradient(top,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* Opera 11.10+ */
/**background: -ms-linear-gradient(top,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* IE10+ */
/**background: linear-gradient(to bottom,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* W3C */
/**filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#937449', endColorstr='#876a42',GradientType=0 ); /* IE6-9 */
}
.catListTempCatPage{
	height:100px;
	width:400px;
}

/**categoryListTemplate3Panel**/
.categoryList  li.categoryListTemplate3Panel{
	width:220px;
	height:200px;
	float:left;
	
}
.catName3{
float:left;
font-size:18px;
font-family: 'Neuton', serif;
font-weight:500;
color:#561d09;
text-align:center;
width:100%;
}

/**categoryListTemplate4Panel**/
.categoryList  li.categoryListTemplate4Panel{
	width:150px;
	height:150px;
	float:left;
}
.catName4{
float:left;
font-size:20px;
font-family: 'Neuton', serif;
font-weight:500;
color:#561d09;
text-align:center;
width:100%;
}

/********************************************************************************************************************************/
/**CategoryListTemplate**/
.categoryListTemplateTitle{
	background: rgb(147,116,73); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(147,116,73,1) 0%, rgba(158,124,78,1) 50%, rgba(135,106,66,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(147,116,73,1)), color-stop(50%,rgba(158,124,78,1)), color-stop(100%,rgba(135,106,66,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#937449', endColorstr='#876a42',GradientType=0 ); /* IE6-9 */
	height:35px;
	width:305px;
	text-align:center;
	color:#ffffff;
	font-size:12px;
	line-height:17px;
	padding-top:1px;
}

/*************************************************************************************************************************/
/**ProductListTemplate**/
.productList li.productListTemplate{
	width:355px;
	height:330px;
		
}
.productList li.productListTemplate h6{
	color:#D4511F;
}
.catPageProdInfoBox{
background: rgb(147,116,73); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(147,116,73,1) 0%, rgba(158,124,78,1) 50%, rgba(135,106,66,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(147,116,73,1)), color-stop(50%,rgba(158,124,78,1)), color-stop(100%,rgba(135,106,66,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(147,116,73,1) 0%,rgba(158,124,78,1) 50%,rgba(135,106,66,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#937449', endColorstr='#876a42',GradientType=0 ); /* IE6-9 */
}
/**'productListTemplate3Panel**/
.productList li.productListTemplate3Panel{
	width:225px;
	height:300px;
	
}

.productList li.productListTemplate3Panel h6{
	color:#D4511F;
}

/**'productListTemplate4Panel**/
.productList li.productListTemplate4Panel{
	width:160px;
	height:220px;
}
.productList li.productListTemplate4Panel h6{
	color:#D4511F;
}
	
/********************************************************************************************************************************/
/**Footer**/
#footer{
	width:100%;
	height:400px;
	background-color:black;
	clear:both;
}

.footerLinkStyle{
	font-size:14px;
	color:white;
}
/**Footer Upper Link and Subscribe Section**/
#footerUpperSec{
	height:250px;;
	background-color:#b29f6b;
	width:1000px;
}

/**Footer Subscribe Section**/
.footerUpperSubSec{
	background-color:#d0bd8a;
	width:200px;
	height:180px;
	float:left;
	border:ridge 2px #ffffff;
	border-radius: 5px;
	margin-top:27px;
	margin-left:15px;
	padding-top:5px;
	margin-top:27px;
}
.footerUpperSubSec h5{
	font-family: 'Neuton', serif;
	font-size:18px;
}
.footerUpperSubSec input{
	margin-bottom:15px;
	margin-left:5px;
	border-radius:3px;
}
.footerUpperSubSecInput{
		border:solid 0px;
		width:170px;
}
.footerUpperSubSec h5{
	margin-left:5px;
}
.subButton{
	background: rgb(99,67,35); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(99,67,35,1) 0%, rgba(58,30,6,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,67,35,1)), color-stop(100%,rgba(58,30,6,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(99,67,35,1) 0%,rgba(58,30,6,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(99,67,35,1) 0%,rgba(58,30,6,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(99,67,35,1) 0%,rgba(58,30,6,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(99,67,35,1) 0%,rgba(58,30,6,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#634323', endColorstr='#3a1e06',GradientType=0 ); /* IE6-9 */
	color:#dbd7d3;
	border:outset 2px;
	width:100px;

}

/**Footer Upper Link Section**/
#footerUpperLinkSec{
	float:right;
}
#footerUpperLinkSec h5{
	font-weight:400;
}
.footerLinkSec{
	width:180px;
	height:200px;
	float:left;
	margin-left:1px;
}
.footerLinkSec a{
	color:white;
	text-decoration:none;
}
.footerLinkSec h5{
	font-size:16px;	
}

/**Footer Lower Link Section**/
#footerLowerSec{
	height:150px;
	background-color:#1f090c;
}
.footerLower_TopSec{
	width:1000px;
	height:50px;
	text-align:center;
	color:#9a7249;
	font-size:14px;
	padding-top:15px;
}
.footerLower_TopSec a{
	margin-left:6px;
	margin-right:5px;
	text-decoration:none;
	color:#a87d50;
}
.footerLower_TopSec a:hover{
	color:#9a7249;
}
.footerLower_TopSec p{
	padding-top:2px;
	font-size:14px;
}
.footerLower_BottomSec{
	width:1000px;
	height:50px;
	text-align:center;
}

.footerCCards{
	line-height:20px;
	margin-left:5px;
	margin-right:5px;
	margin-top:15px;
}
/*************************************************************************************************************************/
/**Search results page**/
.searchResultsPG{
}
.searchResultsPG img{
	margin-left:15px;
}
.searchResultsPG h5{
	font-family: 'Neuton', serif;
	font-size:18px;
	width:100%;
	text-align:center;
}
.searchResultsPG h6{
	font-family: 'Neuton', serif;
	font-size:18px;
	width:100%;
	text-align:center;
	color:#d4511f;
}
.searchResultsDetails{
	font-family: 'Neuton', serif;
	font-size:16px;
	color:#d4511f;
}

/*****************************************************************************************************************************/
/**Cart Page**/
.cartSummaryTotalsContainer h2{
	font-size:16px;
	letter-spacing:1px;
}
#chkoutPreflightFieldset{
	clear:both;
}
.checkoutMethods{
	width:300px;
	float:right;
}
#couponContainer{
	float:right;
}
.assembly{
	padding-left: 100px;
	background: url(images/returnarrow2.png) 40px center no-repeat;
}
.assembly .assemblyHide {display:none;}
.assembly .assemblyShow {display:inherit;}






/*****************************************************************************************************************************/
/**Checkout Page**/

/************************************************************************************************************************/
/**Search Page**/
#mainContentArea_search{
	width:1000px;
}
.mainColumn{
	width:100%;
}
#resultsProductListContainer li{
	width:225px;
	height:360px;
	margin-right:10px;
	margin-bottom:10px;
}
.searchResultsPG img{
	margin-left:0px;
}
.searchResultsDetails{
	text-align:center;
}

#resultsProductListContainer .ui-menu-item{
	height:10px;
	visibility:
}

.resultsMenu{
	border:none;
}

#beforeThirdParty{
	float:left;
	clear:both;
}

.checkoutFormContainer legend{
	float:left;
	clear:both;
}

/******************************************************************************************************************************/
/**Promotional tags classes**/

/*.productListTemplate .tagsContainer span	{display:block; width:100px; height:35px;}*/
.productListTemplate .promoTag	{z-index:10000; position:absolute; top:0; right:0;}
.twoColListItem .prodThumbContainer	{width:355px; height:210px;}
.promoTagCont{
	
}
/*.promoTag{
	z-index:5;
	width:100%;
	height:100%;
	overflow:visible;
	position:relative;
	display:none;
}
*/
.tagsContainer{
	position:absolute;
	top:0px;
	right:0px;
	overflow:hidden;
	width:40%;
	height:30%;
}
.is_preorder{
}
.is_discontinued{
	background-image:url(images/promo_tags/discontinued-promo-button-128x45.jpg);
	background-repeat:no-repeat;
	background-size:90%;
	width:100%;
	height:100%;
	position:absolute;
	z-index:5;
}
.is_specialorder{
	background-image:url(images/promo_tags/limited-edition-promo-button-128x45.jpg);
	background-repeat:no-repeat;
	background-size:90%;
	width:100%;
	height:100%;
	position:absolute;
	z-index:5;
}
.is_sale{
	background-image:url(images/promo_tags/sale-promo-button-128x45.jpg);
	background-repeat:no-repeat;
	background-size:90%;
	width:100%;
	height:100%;
	top:0;
	right:0;
	
}

.is_clearance{
}
.is_newarrival{
	background-image:url(images/promo_tags/new-arrival-promo-button-128x45.jpg);
	background-repeat:no-repeat;
	background-size:90%;
	width:100%;
	height:100%;
	position:absolute;
	z-index:5;
}
.is_bestseller{
}
.is_fresh{
}
.is_shipfree{
	background-image:url(images/promo_tags/free-shipping-promo-button-128x45.jpg);
	background-repeat:no-repeat;
	background-size:90%;
	width:100%;
	height:100%;
	position:absolute;
	z-index:5;
}

/*******************************************************************************************************************************/
/**contact us page**/
#contactForm{
	float:left;
}
#contactChat {
	width: 100px;
	height: 100px;
	position: relative;
	float: left;
}



/*******************************************************************************************************************************/
/**Miscellaneous**/
.spaceAndAlignCenter{
	width:100%;
	text-align:center;
}
.ui-button{
	padding-left:5px;
	padding-right:5px;
}